*** Machine Learning ***

Many machine learning techniques been there for long time. 

first linear regression is in 1800s
first neural network in 1950
first algorithm for image detection in 1980

only in recent times it is hyped because we did not have computer improvment with more computing power and also did not had enough data.

2012 is the year of image detection
2018 is the year of language models.

Now they have optimized the algorithm and did lot of things so we could run smaller models locally. 

It has taken a lot of techniques from statistics and there are lot of things which is in ML and not in statistics. so, It is combination of statistics , computer sciences and so on. 

Is it like how to run math models efficiently in one or more computer 

Neural networks are initially thought to be same as human brain but it is not same. And human behvaiour is more powerful than that.

Simple terms:

Machine Learning 
    - automated statistical models which works for structured / tabular data
    - There are different algorithms mostly like linear & logistics regression, decision trees
    
Deep Learning 
    - It is used to be part of machine learning and now this has become separate field altogether.
    - Useful for both structure and unstructured data like images, audio, text, etc., 
    - It is more powerful than traditional ML and also takes more time to train the model than ML
    - It used neural network with many layers. 
    - Example application is auto driving car

Data Science
    - Data Collection -Gathering raw data from various sources like databases, APIs, sensors, social media, etc.
    - Data Cleaning & Preprocessing - Handling missing values, fixing errors, formatting data—making sure it’s ready for analysis.
    - Exploratory Data Analysis  - summarize the data using visualization & statistics to understand relationship
    - Statistical Analysis & Modeling - Applying mathematical models to understand data trends and make predictions

Predictive Analysis
    - Focuses on prediction/ forecasts where as DataScience can work purely on the complex past data

Artificial Inteligence
    - AI is the broader concept of creating machines or systems that can mimic human intelligence think reasoning, learning, problem-solving, perception and even creativity.


Few models which we use commonly
    - linear models (linear and logistics regression)
    - decision trees (random forest, gradient boosted machines like LightGBM or XGBoost)
    - neural networks - customize the model as we want
        - dense network for simple datasets
        - convolution neural network for working with images
        - recurrent neural network for datasets with time aspects (eg: games, stocks)

# How does it work?

We define our history of data as input and output
Algoritm uses this data to define the pattern
Use this pattern to find the output for the new input

Input 
    - Input to the algorithm always should be numeric
    - images (pixel values, color codes)
    - If its text, numeric representation of words

Ouput 
    - we need to label it
    - If we send images like cat, sparrow and we have label it as animal, birds
    - Also called it as targets

Combined
    - Input data is also called as Features and it mapped to the target/output

# Import all the required libraries

In [1]:
%pip install tensorflow

Requirement already satisfied: tensorflow in ./.venv/lib/python3.12/site-packages (2.16.2)
Requirement already satisfied: absl-py>=1.0.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in ./.venv/lib/python3.12/site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in ./.venv/lib/python3.12/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in ./.venv/lib/python3.12/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (3.14.0)
Requirement already satisfied: libclang>=13.0.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in ./.venv/lib/python3.12/site-packages (from tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in ./.venv/lib/python3.12/site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in ./.venv/lib/python3.12/site-packages (from tensorflow) (4.25.8)
Requirement already satisfied: requests<3,>=2.21.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in ./.venv/lib/python3.12/site-packages (from tensorflow) (80.9.0)
Requirement already satisfied: six>=1.12.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./.venv/lib/python3.12/site-packages (from tensorflow) (4.14.1)
Requirement already satisfied: wrapt>=1.11.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./.venv/lib/python3.12/site-packages (from tensorflow) (1.74.0)
Requirement already satisfied: tensorboard<2.17,>=2.16 in ./.venv/lib/python3.12/site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in ./.venv/lib/python3.12/site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2025.7.14)
Requirement already satisfied: markdown>=2.6.8 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in ./.venv/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in ./.venv/lib/python3.12/site-packages (from keras>=3.0.0->tensorflow) (14.1.0)
Requirement already satisfied: namex in ./.venv/lib/python3.12/site-packages (from keras>=3.0.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in ./.venv/lib/python3.12/site-packages (from keras>=3.0.0->tensorflow) (0.17.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./.venv/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./.venv/lib/python3.12/site-packages (from rich->keras>=3.0.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.venv/lib/python3.12/site-packages (from rich->keras>=3.0.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in ./.venv/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in ./.venv/lib/python3.12/site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# working with tables and data from other sources 
import pandas as pd

# controlling display when using dataframe, some has very less value as default
pd.set_option('display.max_columns', 300)
pd.set_option('max_colwidth', 400)
pd.set_option('display.max_rows', 300)

# general library to work with arrays and metrics
import numpy as np

# Tensor flow 
# Training deep learning model is slow in normal CPU
# Tensorflow can run on GPU which makes training model faster especially for large datasets
# It also supports TPUs (Tensor Processing Units), custom chips from Google that are even faster than GPUs for some tasks.
# pytorch can be used if we want to use CPU for deep learning
import tensorflow as tf

# many algorithms use random initialization. This will cause parts of these to generate the same data for every run.
# It is like weight in tensorflow and if it sets different random with start, each time we run we get different results.
np.random.seed(1)
tf.random.set_seed(1)


# for traditional machine learning, we can use sklearn
# regression, classification
import sklearn as sk


# for plot
import matplotlib.pyplot as plt

2025-07-28 15:53:33.782507: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
# to check GPU can be used

print(tf.test.gpu_device_name)

<function gpu_device_name at 0x126cdc720>

# Load Dataset and inspect data 

Taken the data sets from Kaggle - https://www.kaggle.com/

In [5]:
orders_dataset = pd.read_csv('./testdata/order_history_kaggle_data.csv')

# see the data with prints number of rows and colums

orders_dataset.shape

(21321, 29)

In [6]:
# column name
orders_dataset.columns

Index(['Restaurant ID', 'Restaurant name', 'Subzone', 'City', 'Order ID',
       'Order Placed At', 'Order Status', 'Delivery', 'Distance',
       'Items in order', 'Instructions', 'Discount construct', 'Bill subtotal',
       'Packaging charges', 'Restaurant discount (Promo)',
       'Restaurant discount (Flat offs, Freebies & others)', 'Gold discount',
       'Brand pack discount', 'Total', 'Rating', 'Review',
       'Cancellation / Rejection reason',
       'Restaurant compensation (Cancellation)',
       'Restaurant penalty (Rejection)', 'KPT duration (minutes)',
       'Rider wait time (minutes)', 'Order Ready Marked',
       'Customer complaint tag', 'Customer ID'],
      dtype='object')

In [7]:
# sample data how it looks
orders_dataset.head()

,Restaurant ID,Restaurant name,Subzone,City,Order ID,Order Placed At,Order Status,Delivery,Distance,Items in order,Instructions,Discount construct,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Order Ready Marked,Customer complaint tag,Customer ID
0,20320607,Swaad,Sector 4,Delhi NCR,6168884918,"11:38 PM, September 10 2024",Delivered,Zomato Delivery,3km,"1 x Grilled Chicken Jamaican Tender, 1 x Grilled Chicken Peri Peri Tangdi",NaN,40% off upto Rs.80,715.0,31.75,80.0,0.0,0.0,0.0,666.75,NaN,NaN,NaN,NaN,NaN,18.35,11.6,Correctly,NaN,5d6c2b96db963098bc69768bea504c8bf46106a8a5178edf91a42e66a8179458
1,20320607,Swaad,Sector 4,Delhi NCR,6170707559,"11:34 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Fries, 1 x Fried Chicken Angara Tender, 1 x Grilled Chicken Angara Tender",NaN,Flat Rs.175 off,1179.0,50.20,175.0,0.0,0.0,0.0,1054.20,NaN,NaN,NaN,NaN,NaN,16.95,3.6,Correctly,NaN,0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5a626dbc4710568bff4
2,20320607,Swaad,Sector 4,Delhi NCR,6169375019,"03:52 PM, September 10 2024",Delivered,Zomato Delivery,<1km,1 x Bone in Peri Peri Grilled Chicken,NaN,40% off upto Rs.80,310.0,11.50,80.0,0.0,0.0,0.0,241.50,NaN,NaN,NaN,NaN,NaN,14.05,12.2,Correctly,NaN,f93362f5ce5382657482d164e368186bcec9c6225fd93d374453a2e6983151de
3,20320607,Swaad,Sector 4,Delhi NCR,6151677434,"03:45 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Fried Chicken Ghostbuster Tender, 1 x Angara Grilled Paneer (8 pcs)",NaN,40% off upto Rs.80,620.0,27.00,80.0,0.0,0.0,0.0,567.00,4.0,NaN,NaN,NaN,NaN,19.00,3.3,Correctly,NaN,1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d5c9d3ea550397d49ac
4,20320607,Swaad,Sector 4,Delhi NCR,6167540897,"03:04 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Krispers, 1 x Fried Chicken Angara Tender",NaN,40% off upto Rs.80,584.0,25.20,80.0,0.0,0.0,0.0,529.20,NaN,NaN,NaN,NaN,NaN,15.97,1.0,Correctly,NaN,d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f110a3098eeb39596d9

In [8]:
# Basic statistics for numerical column

orders_dataset.describe()

,Restaurant ID,Order ID,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes)
count,2.132100e+04,2.132100e+04,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,2491.000000,133.000000,3.0,21026.000000,21153.000000
mean,2.074413e+07,6.354622e+09,750.076838,32.564592,65.091816,31.795058,0.099128,3.039324,682.616113,4.356885,356.409549,0.0,17.332960,4.825070
std,2.447193e+05,1.230263e+08,498.759428,22.235898,85.401604,131.487091,3.264261,17.070780,465.313977,1.181472,328.128240,0.0,6.283388,4.982591
min,2.032061e+07,6.086767e+09,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,52.500000,1.000000,83.580000,0.0,0.000000,0.100000
25%,2.063570e+07,6.250751e+09,459.000000,18.450000,0.000000,0.000000,0.000000,0.000000,387.450000,4.000000,191.950000,0.0,13.380000,1.000000
50%,2.065987e+07,6.357715e+09,629.000000,28.450000,80.000000,0.000000,0.000000,0.000000,597.450000,5.000000,272.580000,0.0,16.330000,3.100000
75%,2.088265e+07,6.456827e+09,899.000000,39.950000,100.000000,0.000000,0.000000,0.000000,837.900000,5.000000,397.840000,0.0,20.050000,7.400000
max,2.152306e+07,6.573392e+09,16080.000000,603.000000,4020.000000,7787.000000,280.100000,554.800000,12663.000000,5.000000,3236.980000,0.0,90.870000,73.800000

In [9]:
# check missing values and display as percentage
# It calculate the null valye for each column
missing_values = orders_dataset.isnull().sum() 
print(missing_values)

Restaurant ID                                             0
Restaurant name                                           0
Subzone                                                   0
City                                                      0
Order ID                                                  0
Order Placed At                                           0
Order Status                                              0
Delivery                                                  0
Distance                                                  0
Items in order                                            0
Instructions                                          20601
Discount construct                                     5498
Bill subtotal                                             0
Packaging charges                                         0
Restaurant discount (Promo)                               0
Restaurant discount (Flat offs, Freebies & others)        0
Gold discount                                             0
Brand pack discount                                       0
Total                                                     0
Rating                                                18830
Review                                                21025
Cancellation / Rejection reason                       21135
Restaurant compensation (Cancellation)                21188
Restaurant penalty (Rejection)                        21318
KPT duration (minutes)                                  295
Rider wait time (minutes)                               168
Order Ready Marked                                        0
Customer complaint tag                                20852
Customer ID                                               0
dtype: int64

In [10]:
# percentage of missing values for each column
# len -> returns number of rows
missing_data_percent= (missing_values / len(orders_dataset)) * 100
print(missing_data_percent)

Restaurant ID                                          0.000000
Restaurant name                                        0.000000
Subzone                                                0.000000
City                                                   0.000000
Order ID                                               0.000000
Order Placed At                                        0.000000
Order Status                                           0.000000
Delivery                                               0.000000
Distance                                               0.000000
Items in order                                         0.000000
Instructions                                          96.623048
Discount construct                                    25.786783
Bill subtotal                                          0.000000
Packaging charges                                      0.000000
Restaurant discount (Promo)                            0.000000
Restaurant discount (Flat offs, Freebies & others)     0.000000
Gold discount                                          0.000000
Brand pack discount                                    0.000000
Total                                                  0.000000
Rating                                                88.316683
Review                                                98.611697
Cancellation / Rejection reason                       99.127621
Restaurant compensation (Cancellation)                99.376202
Restaurant penalty (Rejection)                        99.985929
KPT duration (minutes)                                 1.383612
Rider wait time (minutes)                              0.787956
Order Ready Marked                                     0.000000
Customer complaint tag                                97.800291
Customer ID                                            0.000000
dtype: float64

In [11]:
# unique values categorization

# select_dtypes(include=['object']) will select the object type columns which in pandas is string 
categorical_cols = orders_dataset.select_dtypes(include=['object']).columns

for c in categorical_cols:
    print(f' the column is {c} and the unique data count is {orders_dataset[c].nunique()}')
    if orders_dataset[c].nunique() < 10 :
        print (orders_dataset[c].value_counts())

 the column is Restaurant name and the unique data count is 6
Restaurant name
Aura Pizzas             14548
Swaad                    6332
Dilli Burger Adda         227
Tandoori Junction         154
The Chicken Junction       32
Masala Junction            28
Name: count, dtype: int64
 the column is Subzone and the unique data count is 8
Subzone
Greater Kailash 2 (GK2)    7380
Sector 4                   6530
DLF Phase 1                3686
Sector 135                 2442
Vasant Kunj                 920
Shahdara                    360
Chittaranjan Park             2
Sikandarpur                   1
Name: count, dtype: int64
 the column is City and the unique data count is 1
City
Delhi NCR    21321
Name: count, dtype: int64
 the column is Order Placed At and the unique data count is 19114
 the column is Order Status and the unique data count is 6
Order Status
Delivered           21131
Rejected              158
Returned               25
Return cancelled        3
Picked up               3
Timed out               1
Name: count, dtype: int64
 the column is Delivery and the unique data count is 1
Delivery
Zomato Delivery    21321
Name: count, dtype: int64
 the column is Distance and the unique data count is 22
 the column is Items in order and the unique data count is 6123
 the column is Instructions and the unique data count is 631
 the column is Discount construct and the unique data count is 527
 the column is Review and the unique data count is 293
 the column is Cancellation / Rejection reason and the unique data count is 5
Cancellation / Rejection reason
Cancelled by Customer    89
Cancelled by Zomato      81
Merchant device issue    12
Kitchen is full           3
Items out of stock        1
Name: count, dtype: int64
 the column is Order Ready Marked and the unique data count is 3
Order Ready Marked
Correctly      19087
Incorrectly     1895
Missed           339
Name: count, dtype: int64
 the column is Customer complaint tag and the unique data count is 5
Customer complaint tag
Non-refunded complaint              157
Poor taste or quality               120
Poor packaging or spillage          104
Wrong item(s) delivered              48
Item(s) missing or not delivered     40
Name: count, dtype: int64
 the column is Customer ID and the unique data count is 11607

# Data Cleaning and Preprocessing

In [12]:
# format the date time colum to get month day hour and date
# we have date like 11:38 PM, September 10 2024	

def parse_datetime(date_str):
    try:
        # extract the time part and date part
        time_part, date_part = date_str.split(', ')

        # combine date time properly
        datetime_str = f'{date_part} {time_part}'

        # "September 10 2024 11:38 PM"
        return pd.to_datetime(datetime_str, format='%B %d %Y %I:%M %p')
    except: 
        return pd.NaT
    

orders_dataset['Order Placed At'] = orders_dataset['Order Placed At'].apply(parse_datetime)

# add additional information to the dataframe
orders_dataset['Order Day'] = orders_dataset['Order Placed At'].dt.day_name()
orders_dataset['Order Month'] = orders_dataset['Order Placed At'].dt.month_name()
orders_dataset['Order Hour'] = orders_dataset['Order Placed At'].dt.hour
orders_dataset['Order Date'] = orders_dataset['Order Placed At'].dt.date

print("Date-time processing completed")


# clean distance column - we have < as value eg: <1km

def clean_distance(distance_str):
    if pd.isna(distance_str): # if not an number return 
        return np.nan # special value defined by IEEE standard to represent missing or undefined numerical data
    elif '<' in distance_str:
        return 0.5  # assuming <1km means 0.5km
    else : 
        return float(distance_str.replace('km', ''))

orders_dataset['Distance'] = orders_dataset['Distance'].apply(clean_distance)

print("Distance column cleaned")



# extract numeber of items from Items in order
# strcuture is 1 x Grilled Chicken Jamaican Tender, 1 x Gril

import re

def extract_items_Count(items_str):
    if pd.isna(items_str):
        return 0
    # Find all patterns like "X x Item"
    matches = re.findall(r'(\d+)\s*x\s*', items_str)

    count = sum(int(match) for match in matches)

    return count

orders_dataset['Item Count'] = orders_dataset['Items in order'].apply(extract_items_Count)

print("Item count extracted")

# handle missing values


# Fill categorical NaN values with 'None' or 'Unknown'
# inplace means directl apply the changes
orders_dataset['Instructions']= orders_dataset['Instructions'].fillna('None')
orders_dataset['Discount construct'] = orders_dataset['Discount construct'].fillna('No Discount')
orders_dataset['Customer complaint tag'] = orders_dataset['Customer complaint tag'].fillna('No Complaint')
orders_dataset['Review'] = orders_dataset['Review'].fillna('No Review')
orders_dataset['Cancellation / Rejection reason'] = orders_dataset['Cancellation / Rejection reason'].fillna('No Cancellation')

# For Rating, fill NaN with the median rating
orders_dataset['Rating']= orders_dataset['Rating'].fillna(orders_dataset['Rating'].median())

orders_dataset['KPT duration (minutes)']= orders_dataset['KPT duration (minutes)'].fillna(orders_dataset['KPT duration (minutes)'].median())
orders_dataset['Rider wait time (minutes)'] = orders_dataset['Rider wait time (minutes)'].fillna(orders_dataset['Rider wait time (minutes)'].median())


print("Missing values handled")


# create delivery status feature in numbers
# we need to use apply as it run every column on the data frame

orders_dataset['Is_Delivered'] = orders_dataset['Order Status'].apply( lambda x: 1 if x == 'Delivered' else 0)
orders_dataset['Has_Complaint'] = orders_dataset['Customer complaint tag'].apply(lambda x: 0 if x == 'No Complaint' else 1)
orders_dataset['Delivery_Issue'] = orders_dataset['Order Ready Marked'].apply(lambda x: 0 if x == 'Correctly' else 1)


# Create discount features as we have different column now for discounts

orders_dataset['Total_Discount'] = orders_dataset['Restaurant discount (Promo)'] + orders_dataset['Restaurant discount (Flat offs, Freebies & others)'] + orders_dataset['Gold discount'] + orders_dataset['Brand pack discount']
orders_dataset['Discount_Percentage'] = (orders_dataset['Total_Discount'] / orders_dataset['Bill subtotal'] * 100).round(2)


# create time based features

orders_dataset['Is_Weekend'] = orders_dataset['Order Day'].apply(lambda x :1 if x in  ['Saturday', 'Sunday'] else 0)
orders_dataset['Is_Peak_Hour'] = orders_dataset['Order Hour'].apply(lambda x: 1 if x in [12, 13, 19, 20, 21] else 0)  # Lunch and dinner hours

# remove outliners
# lets say we have total order value is 10_000, this is way differ from others , to correct this
# we use diffeent technique z -score formula = value - mean / std and if Z is greater than the threshold, it is considered an outliner
# removeing this help with better visualization , more stable ml and cleaner statistics

# Check for and remove extreme outliers (optional)
def remove_outliers(df, columns, threshold=3):
    df_clean = df.copy()
    for col in columns:
        mean = df[col].mean()
        std = df[col].std()
        outliers = (df_clean[col] < mean - threshold * std) | (df_clean[col] > mean + threshold * std)
        df_clean = df_clean[~outliers] # remove the rows if outliner is there
    return df_clean

# List of numeric columns to check for outliers
numeric_cols = ['Bill subtotal', 'Total', 'KPT duration (minutes)', 'Rider wait time (minutes)', 'Distance']
orders_dataset_no_outliners = remove_outliers(orders_dataset, numeric_cols) # remove the rows if it falls in there

print(f"Removed {len(orders_dataset) - len(orders_dataset_no_outliners)} outliers") 
print(f"Shape after cleaning: {orders_dataset_no_outliners.shape}")


# Display the updated dataframe
print("\nFirst 5 rows of the cleaned dataset:")
display(orders_dataset_no_outliners.head())

Date-time processing completed
Distance column cleaned
Item count extracted
Missing values handled
Removed 1061 outliers
Shape after cleaning: (20260, 41)

First 5 rows of the cleaned dataset:

/var/folders/ch/_13cnspn3b76_m49n0n2l9xxdh2rlt/T/ipykernel_22729/1181943285.py:116: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[~outliers] # remove the rows if outliner is there
/var/folders/ch/_13cnspn3b76_m49n0n2l9xxdh2rlt/T/ipykernel_22729/1181943285.py:116: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[~outliers] # remove the rows if outliner is there
/var/folders/ch/_13cnspn3b76_m49n0n2l9xxdh2rlt/T/ipykernel_22729/1181943285.py:116: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[~outliers] # remove the rows if outliner is there
/var/folders/ch/_13cnspn3b76_m49n0n2l9xxdh2rlt/T/ipykernel_22729/1181943285.py:116: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean = df_clean[~outliers] # remove the rows if outliner is there

,Restaurant ID,Restaurant name,Subzone,City,Order ID,Order Placed At,Order Status,Delivery,Distance,Items in order,Instructions,Discount construct,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Order Ready Marked,Customer complaint tag,Customer ID,Order Day,Order Month,Order Hour,Order Date,Item Count,Is_Delivered,Has_Complaint,Delivery_Issue,Total_Discount,Discount_Percentage,Is_Weekend,Is_Peak_Hour
0,20320607,Swaad,Sector 4,Delhi NCR,6168884918,2024-09-10 23:38:00,Delivered,Zomato Delivery,3.0,"1 x Grilled Chicken Jamaican Tender, 1 x Grilled Chicken Peri Peri Tangdi",NaN,40% off upto Rs.80,715.0,31.75,80.0,0.0,0.0,0.0,666.75,NaN,NaN,NaN,NaN,NaN,18.35,11.6,Correctly,NaN,5d6c2b96db963098bc69768bea504c8bf46106a8a5178edf91a42e66a8179458,Tuesday,September,23,2024-09-10,2,1,1,0,80.0,11.19,0,0
1,20320607,Swaad,Sector 4,Delhi NCR,6170707559,2024-09-10 23:34:00,Delivered,Zomato Delivery,2.0,"1 x Peri Peri Fries, 1 x Fried Chicken Angara Tender, 1 x Grilled Chicken Angara Tender",NaN,Flat Rs.175 off,1179.0,50.20,175.0,0.0,0.0,0.0,1054.20,NaN,NaN,NaN,NaN,NaN,16.95,3.6,Correctly,NaN,0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5a626dbc4710568bff4,Tuesday,September,23,2024-09-10,3,1,1,0,175.0,14.84,0,0
2,20320607,Swaad,Sector 4,Delhi NCR,6169375019,2024-09-10 15:52:00,Delivered,Zomato Delivery,0.5,1 x Bone in Peri Peri Grilled Chicken,NaN,40% off upto Rs.80,310.0,11.50,80.0,0.0,0.0,0.0,241.50,NaN,NaN,NaN,NaN,NaN,14.05,12.2,Correctly,NaN,f93362f5ce5382657482d164e368186bcec9c6225fd93d374453a2e6983151de,Tuesday,September,15,2024-09-10,1,1,1,0,80.0,25.81,0,0
3,20320607,Swaad,Sector 4,Delhi NCR,6151677434,2024-09-10 15:45:00,Delivered,Zomato Delivery,2.0,"1 x Fried Chicken Ghostbuster Tender, 1 x Angara Grilled Paneer (8 pcs)",NaN,40% off upto Rs.80,620.0,27.00,80.0,0.0,0.0,0.0,567.00,4.0,NaN,NaN,NaN,NaN,19.00,3.3,Correctly,NaN,1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d5c9d3ea550397d49ac,Tuesday,September,15,2024-09-10,2,1,1,0,80.0,12.90,0,0
4,20320607,Swaad,Sector 4,Delhi NCR,6167540897,2024-09-10 15:04:00,Delivered,Zomato Delivery,2.0,"1 x Peri Peri Krispers, 1 x Fried Chicken Angara Tender",NaN,40% off upto Rs.80,584.0,25.20,80.0,0.0,0.0,0.0,529.20,NaN,NaN,NaN,NaN,NaN,15.97,1.0,Correctly,NaN,d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f110a3098eeb39596d9,Tuesday,September,15,2024-09-10,2,1,1,0,80.0,13.70,0,0

# Exploratory Data Analysis (EDA)

- We also need to understand the relationship between each data 
- Gain insight business - like which restaurant gets more order , wehn
- form hypothesis like weekend sales are higher?
- Create the plots to understand the data very well like trends and patterns
- Guide feaure (input) creation for models